﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Land calculator</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <input type="button" id="mybutton" value="Add point">
        <input type="button" id="calc" value="Calculate">
        <div id="fieldContainer"></div>
        <canvas id="canvas" width="500" height="500" style="border:1px solid"></canvas>
        <div id="resultContainer"></div>
        <script>

            var counter = 0;

            $("#mybutton").click(
                function () {
                    $('#fieldContainer').append("<input type = 'text' id = 'X_" + counter + "' placeholder = 'x" + counter + "'> <br> <input type = 'text' id = 'Y_" + counter + "' placeholder = 'y" + counter + "'>  <br><br>");
                    counter++;
                    
                    $.ajax({
                        type: "POST",
                        url: "../Home/AddNewPoints"
                    });
                });

            $("#calc").click(
                function () {
                    var componentList = [];
                    var cx = document.querySelector("canvas").getContext("2d");
                    var firstX;
                    var firstY;
                    
                    cx.clearRect(0, 0, canvas.width, canvas.height);
                    cx.beginPath();
                    for (var index = 0; index < counter; index++) // Add points to array and drawing
                    {
                        var _x = parseInt($("#X_" + index).val());
                        var _y = parseInt($("#Y_" + index).val());
                        componentList.push({ x: _x, y: _y });
                        
                        if (index == 0) {
                            cx.moveTo(_x, _y);
                            firstX = _x;
                            firstY = _y;
                        }else if(index == counter-1){
                            componentList.push({ x: firstX, y: firstY });
                            cx.lineTo(_x, _y);
                            cx.lineTo(firstX, firstY);
                        } 
                        else {
                            cx.lineTo(_x, _y);
                        }
                    }
                    cx.stroke();

                    var value = JSON.stringify(componentList);
                    
                    $.ajax({
                        type: "POST",
                        url: "../Home/SavePoints",
                        contentType: 'application/json',
                        data: JSON.stringify({function_param: value}),
                        success: function(html){
                            $("#resultContainer").html(html);
                        }
                    });
                });
        </script>

    </div>
</div>